<h3>My Heros!</h3>
<div class="content" role="main">

  <div class="card-container">
    <button class="card card-small"tabindex="0" (click)="onItemSelector('Test one')">
        <span id="no-1">Test one</span>
    </button>
    <button class="card card-small"tabindex="0" (click)="onItemSelector('Test two')">
        <span id="no-2">Test two</span>
    </button>
    <button class="card card-small"tabindex="0" (click)="onItemSelector('Test three')">
        <span>Test three</span>
    </button>
    <button class="card card-small"tabindex="0" (click)="onItemSelector('Test four')">
        <span>Test four</span>
    </button>
    <button class="card card-small"tabindex="0" (click)="onItemSelector('Test five')">
        <span>Test five</span>
    </button>
    <button class="card card-small"tabindex="0" (click)="onItemSelector('Test six')">
        <span>Test six</span>
    </button>
    <button class="card card-small"tabindex="0" (click)="onItemSelector('Test seven')">
        <span>Test seven</span>
    </button>
    <button class="card card-small"tabindex="0" (click)="onItemSelector('Test eight')">
        <span>Test eight</span>
    </button>
    <button class="card card-small"tabindex="0" (click)="onItemSelector('Test nine')">
        <span>Test nine</span>
    </button>
  </div>
  <h4>My Hero is : {{value2}}</h4>
</div>
