<h3>test-three works!</h3>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label for="base">Base : &nbsp;</label>
  <input type="text"
       id="base"
       class="form-control"
       name="base"
       ngModel><br>
  <label for="height">Height : &nbsp;</label>
  <input type="text"
       id="height"
       class="form-control"
       name="height"
       ngModel><br>
  <br>
  <button class="btn">Totel Area</button><br>

  <label class="totel">area : {{area1}}&nbsp;</label><br>

  <!-- <input (keyup)="onKey($event)">
  <p>{{values}}</p> -->

</form>
