<h3>test-two works!</h3>
  <table>
    <tr>
      <th>Id</th>
      <th>User Id</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
    <tr *ngFor="let post of posts">
      <td>{{ post.id }}</td>
      <td>{{ post.userId }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
    </tr>
    <tr>
  </table>




